@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*viewport*/
    background: url('imagens/cruz.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 16px;
    box-shadow: #e95d00 0px 20px 30px -10px;
    background: transparent;
    backdrop-filter: blur(20px);
}
h1 {
    text-align: center;
    color: #e95d00;
}

input[type="text"], input[type="email"], input[type="tel"], #msg, input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #e95d00;
    border-radius: 10px;
    background: transparent;
    color:#000000;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #e95d00;
    color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #000000;
}